/*****hector*****/
    /* #hector(a2298f7674281b49) #css starts  */
    .headera2298f7674281b49 .widgets_div .icon_div span i {
        font-size: 20px;
        color: #F6783A
    }

    .headera2298f7674281b49 .searchBox i{
        background-color: #F6783A
    }
    .headera2298f7674281b49 .btn-primary {
        background-color: #30A8DC
    }

    .headera2298f7674281b49 .btn-primary:hover,
    .headera2298f7674281b49 .btn-primary:not(:disabled):not(.disabled):active{
        background-color: #30A8DC
    }

    .headera2298f7674281b49 .fa{
        color: #fff
    }

    .headera2298f7674281b49 .navbar-light .navbar-nav .active>.nav-link{
        color: #666362
    }
    .headera2298f7674281b49 .navbar-light .navbar-nav .nav-link {
        color: #666362
    }
    .headera2298f7674281b49 .navbar-light .navbar-nav .nav-link:hover{
        color: #F6783A
    }

    /* #hector(a2298f7674281b49) #css ends  */
/*****hector*****/